@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  font-family: 'Merienda', cursive;
  margin: 0;
  padding: 0;
}

.container-bg{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 5px;
}

.container{
  max-width: 810px;
  margin: 0 auto;
  padding: 0 5px;
}